<mat-toolbar color="primary">
	<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
	<h1>Emprendedores app</h1>
</mat-toolbar>

<div fxLayout="row">

	<mat-drawer-container>
		<mat-drawer #snav [mode]="'side'">
			<mat-nav-list>
				<a mat-list-item routerLink="/"><mat-icon>supervisor_account</mat-icon>Emprendedores</a>
			</mat-nav-list>
			<mat-nav-list>
				<a mat-list-item routerLink="/"><mat-icon>home</mat-icon>Emprendimientos</a>
			</mat-nav-list>
		</mat-drawer>

		<mat-drawer-content>
      <!--contenido app-->
        <div style="margin: 10px;">
            <router-outlet></router-outlet>
        </div>

		</mat-drawer-content>
	</mat-drawer-container>
</div>




<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
