<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Emprendedor</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm" autocomplete="off">
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="nombres">
                  </mat-form-field>
                  <div *ngIf="myForm.get('nombres').hasError('required') && myForm.get('nombres').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                  </div>
                  <div *ngIf="myForm.get('nombres').hasError('maxlength') && myForm.get('nombres').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="apellidos">
                  </mat-form-field>
                  <div *ngIf="myForm.get('apellidos').hasError('required') && myForm.get('apellidos').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                  </div>
                  <div *ngIf="myForm.get('apellidos').hasError('maxlength') && myForm.get('apellidos').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Nombre Emprendimiento</mat-label>
                    <input matInput formControlName="nombre_emprendimiento">
                  </mat-form-field>
                  <div *ngIf="myForm.get('nombre_emprendimiento').hasError('required') && myForm.get('nombre_emprendimiento').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                  </div>
                  <div *ngIf="myForm.get('nombre_emprendimiento').hasError('maxlength') && myForm.get('nombre_emprendimiento').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Descripcion Emprendimiento</mat-label>
                    <input matInput formControlName="desc_emprendimiento">
                  </mat-form-field>
                  <div *ngIf="myForm.get('desc_emprendimiento').hasError('required') && myForm.get('desc_emprendimiento').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                  </div>
                  <div *ngIf="myForm.get('desc_emprendimiento').hasError('maxlength') && myForm.get('desc_emprendimiento').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">El campo debe tener como maximo <strong> 20 caracteres</strong></span>
                </div>
            </div>
            
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Correo Electronico</mat-label>
                    <input matInput formControlName="correo_electronico">
                  </mat-form-field>
                  <div *ngIf="myForm.get('correo_electronico').hasError('required') && myForm.get('correo_electronico').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
                <div *ngIf="myForm.get('correo_electronico').hasError('correo_electronico') && myForm.get('correo_electronico').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fecha_nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="myForm.get('fecha_nacimiento').hasError('required') && myForm.get('fecha_nacimiento').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Fecha Creacion</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="fecha_creacion">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker2></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="myForm.get('fecha_creacion').hasError('required') && myForm.get('fecha_creacion').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong></span>
                </div>
            </div>

            <br>
            <div class="col-lg-12">
                <button class="btn btn-info btn-lg float-right" [disabled]="myForm.invalid"
                type="button" style="margin-left: 10px;" (click)="guardarEmprendedor()">Guardar Emprendedor</button>
                <button class="btn btn-secondary btn-lg float-right" routerLink="/"
                        type="button">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/crear-usuario.jpg" alt="" width="95%" height="95%">
    </div>
</div>
