<div class="row">
  <div class="col-lg-2">
    <h2>Listado de Emprendedores</h2>
  </div>
  <div class="col-lg-2" style="text-align: left;">
    <button mat-raised-button color="info" routerLink="/add">AGREGAR</button>
  </div>
</div>
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" autocomplete="off">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >

  <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre_emprendimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Emprendimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreEmprendimiento}} </td>
    </ng-container>
    
    <ng-container matColumnDef="desc_emprendimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion Emprendimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.descEmprendimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="correo_electronico">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electronico </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_nacimiento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha_creacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Creacion </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <a class="pointer" routerLink="edit/{{ element.id }}" style="color: #1878B0;">
          <mat-icon >edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

